body{
  background-color: #efefef;
  margin: auto;
}

/*全体包括*/
#wrapper{
  height: 100vh;
  display: flex;
  top: 0;
}

/*全体画像*/
img{
  position: relative;
  top: 0;
  bottom: 0;
}



/*---コンテナ---*/
#container_info{
  width: 35vw;
  left: 0;
}

#container_title{
  width: 65vw;
  height: 56.25vw;
  position: absolute;
  right: 0;
}

#container_sns{
  position: fixed;
  width: 188PX;
  height: 116PX;
  top: 0;
  right: 0;
}
/*--------------*/



/*---画面左---*/
#info_top{
  width: 22vw;
  margin: 2.2vw;
}

#info_bottom{
  position: fixed;
  width: 19vw;
  height: 22.3vw;
  margin-bottom: 2.2vw;
  margin-left: 2.2vw;
  bottom: 0;
  left: 0;
}

#info_bottom_hanko{
  bottom: 0;
  left: 0;
  display: flex;
  position: absolute;
}
/*------------*/



/*---画面左　画像---*/
#img_PCidd{
  margin-top: 1.2vw;
}

#img_PCdate{
  margin-top: 2.8vw;
}

#img_venue{
  width: 15.7vw;
  margin-top: 1vw;
}

#img_FromTo{
  position: absolute;
  width: 12.8vw;
  margin-top: auto;
  margin-bottom: 4.3vw;
}

#info_bottom_hanko img{
  height: 5vw;
  bottom: 0;
}

#img_hanko2{
  margin-left: 1.1vw;
}
/*--------------*/



/*---SNSアイコン---*/
#sns_icon{
display: flex;
position: absolute;
width: fit-content;
height: fit-content;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.sns_round{
  width: 52px;
	height: 52px;
	border-radius: 50%;
}

.sns_round img{
  width: 29px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#twitter{
  background-color: black;
}

#instagram{
  background-color: white;
  margin-left: 20px;
}
/*--------------*/



/*---画面右---*/
#title_frame{
  width: 100%;
  height: 100%;
  position: relative;
}

#img_F{
  width: 43vw;
  position: absolute;
  top: 0;
  left: 0;
}

#img_r{
  width: 33vw;
  position: absolute;
  top: 0;
  right: 0;
}

#img_o{
  width: 30.3vw;
  position: absolute;
  top: 28.7vw;
  left: 0;
}

#img_m{
  width: 31.1vw;
  position: absolute;
  top: auto;
  top: 30vw;
  right: 0;
}

#img_T{
  width: 15vw;
  position: absolute;
  top: 22.5vw;
  left: 0;
}
/*------------*/


@media screen and (max-width: 390px){

}