@use "../setting" as setting;
@use "../global/mixin/" as mixin;
@use "../global/faundation/responsive" as res;
@use "../global/animation/" as anim;

body {
  background-color: setting.$background-white;
  margin: auto;
  height: 100%;
}

/*全体包括*/
#wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  top: 0;
  overflow: hidden;
  position: relative;
  @include res.res(sp) {
    flex-direction: column;
  }
}

.pc {
  @include res.res(sp) {
    display: none;
  }
}

.sp {
  display: none;

  @include res.res(sp) {
    display: block;
  }
}

/*---コンテナ---*/
#container_info {
  width: 35%;
  height: 100%;
  padding-top: 24px;
  padding-left: 24px;
  z-index: 5;
  @include res.res(sp) {
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0 4.3vw 4.8vw 4.3vw;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;

    background: setting.$background-white;
    background: linear-gradient(0deg, setting.$background-white 80%, rgba(255, 255, 255, 0) 100%);
  }
}

#container_title {
  width: 65vw;
  height: 78.3vw;
  position: absolute;
  right: 0;

  @include res.res(sp) {
    width: 100vw;
    height: 120.4vw;
    position: relative;
    top: 0;
    order: -1;
  }
}

#container_sns {
  position: fixed;
  width: 188px;
  height: 116px;
  top: 0;
  right: 0;

  @include res.res(sp) {
    width: 82px;
    height: 150px;
  }
}
/*--------------*/

/*---画面左---*/
#info_top {
  margin-top: auto;

  @include res.res(sp) {
    width: 45%;
  }
}

#info_bottom {
  width: 19vw;
  //height: 22.3vw;
  margin-bottom: 24px;
  margin-left: 24px;
  @include res.res(pc) {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  @include res.res(sp) {
    width: 55%;
    height: auto;
    margin: 0;
  }
}

#info_bottom_hanko {
  display: flex;
  gap: 10px;
  @include anim.infoAnim(5);
  height: 5vw;

  @include res.res(sp) {
    height: 10.6vw;
  }
  img {
    height: 100%;
    width: auto;
    mix-blend-mode: multiply;
  }

  #img_hanko2 {
  }
}

/*------------*/

/*---画面左　画像---*/

#img_title {
  @include anim.infoAnim(0);
}
.info-top-inner {
  width: 22vw;
  @include res.res(sp) {
    width: 100%;
    margin-left: 0;
  }

  #img_title {
  }
  .img_idd {
    margin-top: 1.2vw;

    @include anim.infoAnim(1);

    @include res.res(sp) {
      margin-top: 2vw;
    }
  }

  .img_date {
    margin-top: 2.8vw;
    @include anim.infoAnim(2);

    @include res.res(sp) {
      margin-top: 6.4vw;
      width: 70%;
      margin-left: auto;
    }
  }

  #img_venue {
    width: 15.7vw;
    margin-top: 1vw;

    @include anim.infoAnim(3);

    @include res.res(sp) {
      display: block;
      width: 70%;
      margin-left: auto;
    }
  }
}

#img_FromTo {
  margin-bottom: -20px;

  @include anim.infoAnim(5);

  @include res.res(sp) {
    margin-top: auto;
    width: 37.3vw;
  }
}

#info_bottom_hanko {
  @include anim.infoAnim(5);
}

@keyframes infoAnimKeyframes {
  0% {
    opacity: 0;
    filter: blur(6px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
/*--------------*/

/*---SNSアイコン---*/
#sns_icon {
  display: flex;
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include res.res(sp) {
    flex-direction: column;
  }

  #twitter {
    background-color: setting.$white;
  }

  #instagram {
    background-color: setting.$white;
    margin-left: 20px;

    @include res.res(sp) {
      margin-top: 16px;
      margin-left: 0;
    }
  }
}

.sns_round {
  width: 52px;
  height: 52px;
  border-radius: 50%;

  img {
    position: relative;
    width: 29px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*--------------*/
