@use "../setting" as setting;
@use "../global/mixin/" as mixin;
@use "../global/faundation/responsive" as res;

body{
  background-color: #efefef;
  margin: auto; 
}

/*全体包括*/
#wrapper{
  width: 100vw;
  display: flex;
  top: 0;
  overflow: hidden;

  @include res.res(sp) {
    flex-direction: column;
  };
}

.pc{
  @include res.res(sp) {
    display: none;
  };
}

.sp{
  display:none;

  @include res.res(sp) {
    display: block;
  };
}


/*---コンテナ---*/
#container_info{
  width: 35vw;
  left: 0;

  @include res.res(sp) {
    width: 100vw;
  };
}

#container_title{
  width: 65vw;
  height: 78.3vw;
  position: absolute;
  right: 0;

  @include res.res(sp) {
    width: 100vw;
    height: 120.4vw;
    position: relative;
    top: 0;
    order: -1;
  };
}

#container_sns{
  position: fixed;
  width: 188PX;
  height: 116PX;
  top: 0;
  right: 0;

  @include res.res(sp) {
    width: 82PX;
    height: 150PX;
  };
}
/*--------------*/



/*---画面左---*/
#info_top{
  width: 22vw;
  margin: 2.2vw;
  

  @include res.res(sp) {
    width: 40.8vw;
    margin: 0 4.3vw 0 auto;
  };
}

#info_bottom{
  position: fixed;
  width: 19vw;
  height: 22.3vw;
  margin-bottom: 2.2vw;
  margin-left: 2.2vw;
  bottom: 0;
  left: 0;

  @include res.res(sp) {
    width: 50vw;
    height: 54.4vw;
    margin-bottom: 4.8vw;
    margin-left: 4.3vw;
  };
}

#info_bottom_hanko{
  bottom: 0;
  left: 0;
  display: flex;
  position: absolute;
}

/*------------*/



/*---画面左　画像---*/
$delay : 0.3;

@mixin infoAnim($a) {
  $a : $a * $delay;
  animation: infoAnimKeyframes 1s ease-in $a + s  both;
}

#img_title{
  @include infoAnim(0);
}
.img_idd{
  margin-top: 1.2vw;

  @include infoAnim(1);

  @include res.res(sp) {
    margin-top: 2vw;
  };
}

.img_date{
  margin-top: 2.8vw;

  @include infoAnim(2);

  @include res.res(sp) {
    margin: 6.4vw 0 auto auto;
    width: 30vw;
  };
}

#img_venue{
  width: 15.7vw;
  margin-top: 1vw;
  
  @include infoAnim(3);

  @include res.res(sp) {
    display: block;
    width: 30vw;
    margin: 2vw 0 30vw auto;
  };
}

#img_FromTo{
  position: absolute;
  width: 12.8vw;
  margin-top: auto;
  margin-bottom: 4.3vw;
  bottom: 0;
  
  @include infoAnim(5);

  @include res.res(sp) {
    width: 37.3vw;
    margin-bottom: 9.8vw;
  };
}

#info_bottom_hanko{

  @include infoAnim(5);

  img{
    height: 5vw;
    bottom: 0;

    @include res.res(sp) {
      height: 10.6vw;
    };
  }

  #img_hanko2{
    margin-left: 1.1vw;
  }
}


@keyframes infoAnimKeyframes{
  0%{
    opacity:0;
    filter: blur(6px);
  }
  
  100%{
    opacity:1;
    filter: blur(0px);
  }

}
/*--------------*/



/*---SNSアイコン---*/
#sns_icon{
  display: flex;
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include res.res(sp) {
    flex-direction: column;
  };

  #twitter{
    background-color: black;
  }
  
  #instagram{
    background-color: white;
    margin-left: 20px;

    @include res.res(sp) {
      margin-top: 16px;
      margin-left: 0;
    };
  }
}

.sns_round{
  width: 52px;
  height: 52px;
  border-radius: 50%;

  img{
    position: relative;
    width: 29px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


/*--------------*/



/*---画面右---*/
#title_frame{
  position: relative;
  width: 100%;
  height: 100%;

  @include res.res(sp) {
    width: 104%;
    height: 104%;
    margin: -2%;
  };

  img{
    position: absolute;
  }

  svg{
    position: absolute;
  }

  #img_F{
    width: 66%;
    top: 0;
    left: 0;
  }
  
  #img_r{
    width: 50.6%;
    top: 0;
    right: 0;
  }
  
  #img_o{
    width: 46.5%;
    top: 36.6%;
    left: 0;
  }
  
  #img_m{
    width: 47.8%;
    top: 38.3%;
    right: 0;
  }
  
  #img_T{
    width: 23.3%;
    top: 28.7%;
    left: 0;
  }
}


/*------------*/

svg{
  text{
    font-size: 10px;
  }

  .typewriter{
    display: none;
    tspan{
      display: none;
    }
    
    &::after {
      content: "|";
      animation: typinganime .8s ease infinite;
    }

  }
}


@keyframes typinganime{
  from{opacity:0}
  to{opacity:1}
}
