@use "../setting" as setting;
@use "../global/mixin/" as mixin;
@use "../global/faundation/responsive" as res;
@use "../global/animation/" as anim;

body {
  background-color: setting.$background-white;
  color: #333;
  margin: auto;
  height: 100%;
  overflow: hidden;
}

/*全体包括*/
#wrapper {
  height: 100%;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  .wrapper-inner {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    position: relative;
    @include res.res(sp) {
      flex-direction: column;
    }
  }
}

.pc {
  @include res.res(sp) {
    display: none;
  }
}

.sp {
  display: none;

  @include res.res(sp) {
    display: block;
  }
}

/*---コンテナ---*/
#container_info {
  width: 47vh;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 4vh;
  padding-left: 4vh;
  padding-bottom: 4vh;
  padding-right: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
  background: setting.$background-white;
  background: linear-gradient(90deg, setting.$background-white 85%, rgba(255, 255, 255, 0) 100%);

  @include res.res(sp) {
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    top: auto;
    padding: 0 4.3vw 4.8vw 4.3vw;
    margin: 0;
    // display: flex;
    flex-direction: row-reverse;

    background: setting.$background-white;
    background: linear-gradient(0deg, setting.$background-white 80%, rgba(255, 255, 255, 0) 100%);
  }
}

#container_title {
  width: 65%;
  height: 78.3vw;
  margin-left: auto;

  @include res.res(sp) {
    width: 100vw;
    height: 120.4vw;
    position: relative;
    order: -1;
  }
}

#container_sns {
  position: fixed;
  width: 188px;
  height: 116px;
  top: 0;
  right: 0;
  z-index: 1000;

  @include res.res(sp) {
    width: 82px;
    height: 150px;
  }
}
/*--------------*/

/*---画面左---*/
#info_top {
  //width: 350px;
  width: 100%;
  @include res.res(sp) {
    margin-top: auto;
    height: 90%;
    width: 45%;
  }
  .info-top-inner {
    height: 100%;
    @include res.res(sp) {
      width: 100%;
      margin-left: 0;
    }
    img {
      margin-bottom: 16px;
      @include res.res(sp) {
        margin-bottom: 8px;
      }
    }
  }
}
/*---画面左　画像---*/

#img_title {
  @include anim.infoAnim(0);
}

#img_title {
}
.img_idd {
  @include anim.infoAnim(1);
  margin-bottom: 32px !important;
  @media screen and (max-width: 520px) {
    margin-bottom: 24px !important;
  }
}

.img_date {
  @include anim.infoAnim(2);

  @include res.res(sp) {
    width: 70%;
    margin-left: auto;
  }
}

#img_venue {
  width: 75%;
  margin-bottom: 0 !important;
  @include anim.infoAnim(3);

  @include res.res(sp) {
    display: block;
    width: 70%;
    margin-left: auto;
  }
}

@keyframes infoAnimKeyframes {
  0% {
    opacity: 0;
    filter: blur(6px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
/*--------------*/

#info_bottom {
  //height: (300px - 20px);
  height: auto;
  width: 83%;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: end;
  @include res.res(sp) {
    width: 55%;
    height: auto;
    margin: 0;
  }
}
#img_FromTo {
  margin-bottom: -5%;
  height: auto;
  width: 85%;
  @include anim.infoAnim(5);

  @include res.res(sp) {
    margin-top: auto;
    height: 40vw;
    width: 80%;
  }
}
#info_bottom_hanko {
  @include anim.infoAnim(5);
  width: 90%;

  @include res.res(sp) {
    height: auto;
    width: 70%;
  }
  img {
    width: 100%;
    mix-blend-mode: multiply;
  }
}

/*------------*/

/*---SNSアイコン---*/
#sns_icon {
  display: flex;
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include res.res(sp) {
    flex-direction: column;
  }

  #twitter {
    background-color: setting.$white;
    position: relative;
    .Twitter_Outline {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  #instagram {
    background-color: setting.$white;
    margin-left: 20px;

    @include res.res(sp) {
      margin-top: 16px;
      margin-left: 0;
    }
  }
}

.sns_round {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  &.instagram {
    img {
      position: relative;
      width: 29px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

/*--------------*/
