@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
/* --------------------------------------------------------------------*/
/* --------------------------------------------------------------------*/
/* --------------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  letter-spacing: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  margin: 0;
}

a {
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

span {
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: inline-block;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

html,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  background-color: #efefef;
  margin: auto;
  height: 100%;
}

/*全体包括*/
#wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  top: 0;
  overflow: hidden;
  position: fixed;
}
@media screen and (max-width: 850px) {
  #wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 850px) {
  .sp {
    display: block;
  }
}

/*---コンテナ---*/
#container_info {
  width: 35%;
  height: 100%;
  padding-top: 24px;
  padding-left: 24px;
  z-index: 5;
}
@media screen and (max-width: 850px) {
  #container_info {
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0 4.3vw 4.8vw 4.3vw;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    background: #efefef;
    background: linear-gradient(0deg, #efefef 80%, rgba(255, 255, 255, 0) 100%);
  }
}

#container_title {
  width: 65vw;
  height: 78.3vw;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 850px) {
  #container_title {
    width: 100vw;
    height: 120.4vw;
    position: relative;
    top: 0;
    order: -1;
  }
}

#container_sns {
  position: fixed;
  width: 188px;
  height: 116px;
  top: 0;
  right: 0;
}
@media screen and (max-width: 850px) {
  #container_sns {
    width: 82px;
    height: 150px;
  }
}

/*--------------*/
/*---画面左---*/
#info_top {
  margin-top: auto;
}
@media screen and (max-width: 850px) {
  #info_top {
    width: 45%;
  }
}

#info_bottom {
  width: 19vw;
  margin-bottom: 24px;
  margin-left: 24px;
}
@media screen and (min-width: 851px) {
  #info_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
@media screen and (max-width: 850px) {
  #info_bottom {
    width: 55%;
    height: auto;
    margin: 0;
  }
}

#info_bottom_hanko {
  display: flex;
  gap: 10px;
  animation: infoAnimKeyframes 1s ease-in 2.5s both;
  height: 5vw;
}
@media screen and (max-width: 850px) {
  #info_bottom_hanko {
    height: 10.6vw;
  }
}
#info_bottom_hanko img {
  height: 100%;
  width: auto;
  mix-blend-mode: multiply;
}
/*------------*/
/*---画面左　画像---*/
#img_title {
  animation: infoAnimKeyframes 1s ease-in 1s both;
}

.info-top-inner {
  width: 22vw;
}
@media screen and (max-width: 850px) {
  .info-top-inner {
    width: 100%;
    margin-left: 0;
  }
}
.info-top-inner .img_idd {
  margin-top: 1.2vw;
  animation: infoAnimKeyframes 1s ease-in 1.3s both;
}
@media screen and (max-width: 850px) {
  .info-top-inner .img_idd {
    margin-top: 2vw;
  }
}
.info-top-inner .img_date {
  margin-top: 2.8vw;
  animation: infoAnimKeyframes 1s ease-in 1.6s both;
}
@media screen and (max-width: 850px) {
  .info-top-inner .img_date {
    margin-top: 6.4vw;
    width: 70%;
    margin-left: auto;
  }
}
.info-top-inner #img_venue {
  width: 15.7vw;
  margin-top: 1vw;
  animation: infoAnimKeyframes 1s ease-in 1.9s both;
}
@media screen and (max-width: 850px) {
  .info-top-inner #img_venue {
    display: block;
    width: 70%;
    margin-left: auto;
  }
}

#img_FromTo {
  margin-bottom: -20px;
  animation: infoAnimKeyframes 1s ease-in 2.5s both;
}
@media screen and (max-width: 850px) {
  #img_FromTo {
    margin-top: auto;
    width: 37.3vw;
  }
}

#info_bottom_hanko {
  animation: infoAnimKeyframes 1s ease-in 2.5s both;
}

@keyframes infoAnimKeyframes {
  0% {
    opacity: 0;
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
/*--------------*/
/*---SNSアイコン---*/
#sns_icon {
  display: flex;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 850px) {
  #sns_icon {
    flex-direction: column;
  }
}
#sns_icon #twitter {
  background-color: #000000;
  width: 50px;
  height: 50px;
}
#sns_icon #twitter img {
  position: relative;
  width: 52px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sns_icon #instagram {
  background-color: #ffffff;
  margin-left: 20px;
  width: 52px;
  height: 52px;
}
#sns_icon #instagram img {
  position: relative;
  width: 29px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 850px) {
  #sns_icon #instagram {
    margin-top: 16px;
    margin-left: 0;
  }
}

.sns_round {
  border-radius: 50%;
}

/*--------------*/
#title_frame {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "IBM Plex Mono", monospace;
  font-size: 10px;
  line-height: 10px;
  animation: infoAnimKeyframes 1s ease-in 0.7s both;
}
#title_frame img {
  position: absolute;
}
#title_frame .back {
  z-index: 100;
  opacity: 1;
}
#title_frame .glyph {
  opacity: 1;
  white-space: nowrap;
}
#title_frame .fade {
  transition: all 1s;
}
#title_frame .hide {
  visibility: hidden;
  opacity: 0;
}
#title_frame #back_F {
  top: 0;
  left: 0;
  width: 65%;
}
#title_frame #back_r {
  top: 0;
  right: 1%;
  width: 50%;
}
#title_frame #back_o {
  top: 37%;
  left: 0.5%;
  width: 46%;
}
@media screen and (max-width: 850px) {
  #title_frame #back_o {
    top: 44vw;
  }
}
#title_frame #back_m {
  top: 37.5%;
  right: 0;
  width: 48%;
}
@media screen and (max-width: 850px) {
  #title_frame #back_m {
    top: 45.5vw;
  }
}
#title_frame #back_T {
  top: 28.7%;
  left: 0;
  width: 23%;
}
@media screen and (max-width: 850px) {
  #title_frame #back_T {
    top: 34.5vw;
  }
}
#title_frame #img_F {
  position: absolute;
  width: 66%;
  top: 0;
  left: 0;
  transform-origin: top left;
}
#title_frame #img_r {
  position: absolute;
  width: 50%;
  top: 0;
  right: 1%;
  transform-origin: top left;
}
#title_frame #img_o {
  position: absolute;
  width: 46%;
  top: 37%;
  left: 0.5%;
  transform-origin: top left;
}
@media screen and (max-width: 850px) {
  #title_frame #img_o {
    top: 44vw;
  }
}
#title_frame #img_m {
  position: absolute;
  width: 48%;
  top: 37.5%;
  right: 0;
  transform-origin: top left;
}
@media screen and (max-width: 850px) {
  #title_frame #img_m {
    top: 45.5vw;
  }
}
#title_frame #img_T {
  position: absolute;
  width: 23%;
  top: 28.7%;
  left: 0;
  transform-origin: top left;
}
@media screen and (max-width: 850px) {
  #title_frame #img_T {
    top: 34.5vw;
  }
}
#title_frame .cursor::after {
  content: "|";
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*------------*/
#fps {
  position: absolute;
  top: 0;
  left: 0;
}/*# sourceMappingURL=style.css.map */